<!-- ** [S] Header ** -->
<header class="header">
  <div class="layout flex h-spread v-start">
    <div class="header-left">
      <h1 class="logo">
        <a href="/">
          <img src="./images/logo.png" alt="Veteran CXO" />
        </a>
      </h1>
      <p class="hd-left__txt">국내 최초 글로벌 1000대 기업의 한국계 임원 전용 검색 플랫폼</p>
      <p class="hd-left__txt arial">Korea's First Search Platform Exclusively for <i>Fortune</i> 1000 Korean CXOs</p>
    </div>

    <div class="header-right m-hidden">


      <a href="login.html" class="hd-right__link">
        <b>개인회원 로그인</b>
        <span class="arial">
                            Individual Member<br/>
                            Sign In
                        </span>
      </a>

      <a href="login.html" class="hd-right__link">
        <b>기업회원 로그인</b>
        <span class="arial">
                            Corporate Member<br/>
                            Sign In
                        </span>
      </a>

      <div class="hd-signup__wrap">
        <a href="javascript:void(0);" class="hd-signup__link">
          <b>회원가입</b>
          <span class="arial">Subscribe</span>
        </a>

        <ul class="hd-signup__list">
          <li>
            <a href="signup-1.html">개인회원 가입</a>
          </li>
          <li>
            <a href="signup-1.html">기업회원 가입</a>
          </li>
        </ul>
      </div>
    </div>

    <button type="button" class="m-menu-btn" title="메뉴"></button>
  </div>
</header>
<!-- ** [E] Header ** -->
