<section class="page-nav__wrap flex">
  <button type="button" class="alarm-btn"><i>2</i></button>
  <ul class="page-nav__list">
    <li class="">
      <a href="javascript:void(0);" class="page-nav__link">제안 받은 채용기회</a>

      <ul class="page-nav__sub">
        <li class="active">
          <a href="#">신규/미확인 채용기회</a>
        </li>
        <li>
          <a href="#">수락한 채용기회</a>
        </li>
        <li>
          <a href="#">거절한 채용기회</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#" class="page-nav__link">채용공고</a>
    </li>
    <li class="active">
      <a href="#" class="page-nav__link">My Page</a>

      <ul class="page-nav__sub">
        <li>
          <a href="#">내 프로필 편집</a>
        </li>
        <li class="active">
          <a href="#">외부기회별 오픈니스</a>
        </li>
        <li>
          <a href="#">무료 MBTI 테스트</a>
        </li>
        <li>
          <a href="#">내 MBTI 결과 조회</a>
        </li>
        <li>
          <a href="#">계정 관리</a>
        </li>
        <li>
          <a href="#">로그아웃</a>
        </li>
      </ul>
    </li>
  </ul>
</section>
